<IfModule mod_rewrite.c>
	RewriteEngine On
	#RewriteBase /

	#add other file types which you wish to have serverd as static files
	RewriteCond %{SCRIPT_FILENAME} !\.(js|css|jpg|png|swf)$
	RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
